extends ./layouts/default

block content
  div.Content
    div.Hacks-Typography
      h1 Developers
      p We invite you to come and mentor a team of kids through a set of programming & hardware challenges. We believe that few things create as much exhilaration as manipulating the outside world with your mind.
      p
        img(src='/public/images/hardware.jpg').ContentImage
      p Odds are you know exactly the thrill I'm talking about. You know, when you wrote your first "hello world" program? We believe that the modern day "hello world" program is making a robot move or blinking an LED. You may not have experienced these things yourself yet, and thats ok! That's exactly what we want to invite you to come and do. And as you do it, you'll be "team lead" for a group of kids who have little to no programming experience. You'll walk through setting up basic circuits, programming drones to fly and rolling around a robotic ball in your favorite programming language. As you walk through it, you'll help a new generation of programmers prepare for for their future!
      h3 Do I need any prior hardware experience?
      p No! In fact we invite you to come and learn. You may feel ill equipped to journey through these challenges with a team of kids, but if you can open up a text editor and code you are prepared to start this journey and mentor a team of kids while you're at it!
      p There is a staff of programmers with hardware and software experience that will be there to help you and your team through each challenge if you get stuck.
      h3 What is the time commitment?
      p As much or little as you want! A hackathon is a just a few hours long and there is no preparation required!
      h3 Can I bring my kids?
      p Ofcourse! We would love for you to make it a family event!
      h3 What kinds of things do you teach?
      ul
        li: a(href='http://www.snapcircuits.net/') SnapCircuits
        li: a(href='http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com') Lego MindStorms
        li: a(href='http://www.gosphero.com/') Sphero
        li: a(href='http://www.arduino.cc/') Wearable Technology - Jewelry and Clothes
        li: a(href='http://ardrone2.parrot.com/') ARDrone
        li: a(href='http://www.arduino.cc/') Arduino
      h3 Thank you!
      p We know you are very busy, and have opportunities being thrown at you every week. But, Hacks for Snacks is your chance to give back.
      div.
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="//hacksforsnacks.us6.list-manage.com/subscribe/post?u=bf869d43724e451efd50d12ed&amp;id=c0d6713983" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Sign up here if you'd like to receive developer information!</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_bf869d43724e451efd50d12ed_c0d6713983" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
  include ./includes/sidebar
