extends ./layouts/default

block content
  div.Content
    div.Hacks-Typography
      h1 About Us
      p Hacks for Snacks is an organization with one goal, to make the lives of local kids better.
      p We aim to help youth by:
      ol 
        li Educating & nurturing curiosity and experimentation in the exciting field of robotics and programming.
        li Feeding less privileged kids in the community with the resources raised by a Hacks for Snacks hackathon.
      p
        img(src='/public/images/happy-kid-coding.jpg').ContentImage
      h3 What is a Hacks for Snacks Hackathon?
      p A Hacks for Snacks hackathon is an event where local technical professionals pair up with a team of kids and tackle a programming challenge, usually involving robots. We use hardware that is fun, engaging and designed to help kids get started with programming and electronics. Kids will leave with knowledge they can use at home to continue learning and creating.
      h3 Why?
      p Did you know that each month the tech industry adds about 9,600 jobs in the United States! By 2022 its projected that there will be more than 1.7 million developer and programmer specific jobs with an average salary of $83,000. Unfortunately, computer science has seen a decline in interest! If you're wondering how to spark a technical interest in your child, watch their eyes when they fly a drone with code!
      h2 How much does it cost?
      p Snacks! We ask that kids bring at least 5 BackPacks which will be distributed by the local food shelter. That being said, if a child can not meet these requirements she or he is still more than welcome to be involved. Just bring what you can, even if that is nothing, your child is always 100% welcome.
      h3 What is a BackPack? 
      p A BackPack is a Ziploc bag of at least 7 of the following items:
      ul
        li Fruit Snack
        li Snack Cookies (Snackers or similar)
        li Juice (Apple, etc)
        li Granola Bar
        li Nutri-Bar or Cheese & Crackers
        li Fruit Cup
        li Easy Mac or Ravioli
      p These kits go to kids who usually eat breakfast and lunch at their schools, qualifying for reduced or free lunch; and they often go home over the weekend not having a lot to eat. Thus, these snack bags come in to help them eat over the weekend. 
      p For more information about these BackPacks see the 
        a(href='https://www.utahfoodbank.org/backpack') Utah Food Bank website.
      h3 Who distributes them?
      p The local food shelter to children who qualify.
      h3 Whats with the "snacks" part?
      p While, a certain set of youth are priviledged to be able to attend events like this, there is a less fortunate group who are worried about their survival needs. According to Feed America, 1 in 5 kids battle to find enough food.
  include ./includes/sidebar.jade
