extends ./layouts/default

block content
  div.Content
    div.Hacks-Typography
      h1 Hacks for Snacks + Ogden
      p We invite your child to come and explore the exciting world of programming and robotics. They will receive personal mentorship and guidance from local professionals and leave with excitement and skills for a future of creating! 
      p
        img(src="/public/images/code-wall.jpg").ContentImage
      h3 Why should I send my child?
      p Did you know that each month the tech industry adds about 9,600 jobs in the United States! By 2022 its projected that there will be more than 1.7 million developer and programmer specific jobs with an average salary of $83,000. Unfortunately, computer science has seen a decline in interest! If you're wondering how to spark a technical interest in your child, watch their eyes when they fly a drone with code!
      h3 Whats with the "snacks" part?
      p While, a certain set of youth are priviledged to be able to attend events like this, there is a less fortunate group who are worried about their survival needs. In Ogden 23.4% of households with children were unable to buy enough food. Hacks for Snacks hopes to relieve some of this suffering while equipping a new generation with job skills.
      h3 Who should attend?
      p Youth ages 11-18. No programming or robotics experience is required.
      h3 Register your Child
    div.Registration
      div.Registration-Form(ng-app='Registration', ng-controller='RegistrationForm', ng-submit='submit($event)')

        div.Registration-Errors(ng-if='errors.length > 0')
          p(ng-repeat='error in errors') {{error}}
        div(ng-if='hidden') Thank you, anticipate hearing from us shortly!
        form(ng-if='!hidden')
          div.Registration-Input
            label.Bold Parent / Guardian Email
            input(type='text', ng-model='registration.email')
          div.Registration-Input
            label.Bold Child's Name
            input(type='text', ng-model='registration.name')
          div.Registration-Input
            label.Bold Child's Age
            input(type='text', ng-model='registration.age').Registration-Age
          div.Registration-Input
            label.Bold How much programming has the child done?
            div.Registration-Radio
              input(type='radio', name='exposure', ng-model='registration.exposure', value='1')
              label None
            div.Registration-Radio
              input(type='radio', name='exposure', ng-model='registration.exposure', value='2')
              label A little
            div.Registration-Radio
              input(type='radio', name='exposure', ng-model='registration.exposure', value='3')
              label A lot
          div
            input(type='Submit').Registration-Submit
      div.Registration-Information
        h5 Date & Time
        p.
          March 28, 2015<br>
          10:00 AM - 2:00 PM
        h5 Location
        p. 
          Startup Ogden<br>
          2314 Washington Blvd., Ogden, Utah<br>
          <a href="http://www.weber.edu/downtown">http://www.weber.edu/downtown</a>
        div.Registration-Social.
          <div class="fb-share-button" data-href="http://www.hacksforsnacks.com/register" data-layout="button_count"></div>
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js')
  script(src='/public/scripts/registration.js')

      
      

