extends ./layouts/default

block content
  div.Content
    div.Hacks-Typography
      h1 Sponsor Us
      p Hacks for Snacks does multiple events a year with kids ages 8-18. We jump start kids programming & electronics interest by introducing them to the exciting world of robots! We believe that the tactile, real world experience of progamming robots makes all the difference in generating excitement and interest in a child.
      p We need a few sponsors to help us get off the ground by donating resources to host these events. Namely we need hardware of the following sort. 
      ul
        li: a(href='http://www.snapcircuits.net/') SnapCircuits
        li: a(href='http://www.lego.com/en-us/mindstorms/?domainredir=mindstorms.lego.com') Lego MindStorms
        li: a(href='http://www.gosphero.com/') Sphero
        li: a(href='http://www.arduino.cc/') Wearable Technology - Jewelry and Clothes
        li: a(href='http://ardrone2.parrot.com/') ARDrone
        li: a(href='http://www.arduino.cc/') Arduino
      p Or cash to purchase the above hardware. Cash is also useful to make the events more enjoyable with snacks, drinks and prizes.
      p All payment for each event comes in the form of resources for the local food shelter. If you are interested in sponsoring us please reach out to 
        a(href='mailto:info@hacksforsnacks.com') info@hacksforsnacks.com.
      h1 Sponsors
      div.Sponsors
        a(href='http://www.ardusat.com/')
          img(src='/public/images/sponsors/ardusat.jpg')
  include ./includes/sidebar
