html
  head
    title Hacks for Snacks
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/public/stylesheets/normalize.css')
    link(rel='stylesheet', href='/public/stylesheets/styles.css')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
  body
    div.Hacks-For-Snacks
      div.Header
        div.Header__logo
          img(src='/public/images/dieter-the-robot.svg').Header__dieter-the-robot
          div.Header__logo-wording
            div.Header__logo-wording-title HACKS for SNACKS
            div.Header__logo-wording-tagline "Hack" is a general word meaning to experiment, learn, make, code and know its ok to be wrong.
        div.Header__navigation
          a(href='/index.html').active ABOUT US
          a(href='/hackathons.html') HACKATHONS
          a(href='mailto:info@hacksforsnacks.com') SPONSOR

      div.Content
        block content 

      div.Footer
        div.Footer__text We <3 You!
        div.Footer__social
          a(href='http://twitter.com/hacksforsnacks').Footer__social-twitter
            img(src='/public/images/twitter.svg')
          a(href='http://facebook.com/hacksforsnacks').Footer__social-facebook
            img(src='/public/images/facebook.svg')
